/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.form{
    width: 100%;
    height: 80vh;
    overflow-y: auto;

}

.logo-div-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

label{
    font-weight: 600;
    display: block;
}

.double-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
   
}

.double-input div {
    width: 48%;
    margin:0.2rem 1rem;
}

input, select {
    width: 97%;
    padding: 0.2rem;
    border: 1px #CCCCCC solid;
    border-radius: 5px;
}

select {
    width: 100%;
}

.single-input{
    margin:0.2rem 1rem;
}

.book {
    background-color: #00BFA6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 2rem;
    font-size: large;
}

.close-div{
    width: 100%;
    text-align: right;
}

.close{
    color: red;
    background-color: white;
    border: none;
    padding: 0.4rem;
    font-size: x-large;
    font-weight: 600;
}

.small {
    color: red;
    text-align: center;
    padding-left: 1rem;
}


@media (max-width: 768px){
    .double-input {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .double-input div{
        width: 90%;
    }
}
